<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/tabs.css' />
</head>

<body>
  <div class="header">
    <h1>
      <%= title %>
    </h1>

  </div>

  <ul class="tab">
    <li class="active"><a href="#Tab1">Score Calulator</a></li>
    <li><a href="#Tab2">Grade Tiers</a></li>
  </ul>

  <div id="Tab1" class="tabcontent">
    <h3>Score Calulator:</h3>
    <p>Enter your details to calculate your credit score.</p>

    <%- include('tab/customer'); %>
  </div>

  <div id="Tab2" class="tabcontent">
    <h3>Grade Tiers</h3>
    <p>Update grade tiers XML or query by age.</p>

    <%- include('tab/tier'); %>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="/js/customer.js"></script>
  <script src="/js/tabs.js"></script>
  <script src="/js/tier.js"></script>
</body>

</html>